<input id="email">
<input id="password">

<select id="role">
<option value="user">Usuario</option>
<option value="admin">Admin</option>
</select>

<button onclick="register()">Registrar</button>

<script>
async function register(){
    await fetch('/api/auth/register',{
        method:'POST',
        headers:{'Content-Type':'application/json'},
        body: JSON.stringify({
            email: email.value,
            password: password.value,
            role: role.value
        })
    });

    alert("Registrado");
    window.location = "/login";
}
</script>